* {
  font-family: "Lato", sans-serif
}

input {
  background: rgb(239, 238, 239);
}

p {
  font-size: 150%;
}

body {
  padding-top: 70px;
}

.spacer {
  height: 10vh;
}

#submit_button {
  margin-bottom: 100px;
}

#ComputeContainer {
  padding-top: 30px;
}

#TotalComputeRow {
  padding-top: 35px;
  padding-bottom: 35px;
}

#TotalComputeCol1 {
  padding-top: 12%;
}

#TotalComputeCol2 {
  height: 400px;
  width: 700px;
}

#Directions {
  padding-top: 30px;
  font-weight: bold;

}